.main{
    background-image: url(../images/jasmin-schreiber-607924-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    color: #ccf6e7;
    h1{
        padding-top: 15%;
        font-size: 170px;
        font-weight: 400;
    }
    p{
        padding-top: 1%;
        font-size: 30px;
        font-weight: bold;
    }
    .arrow{
        padding-top: 3%;
        font-size: 60px;
        padding-bottom: 13.5%;
        transition: .5s;
        i{
            transition: .5s;
            &:hover{
                cursor: pointer;
                color: #75b29c;
            }
        }
    }
}

@include breakpoint (mobileonly){
    .main{
        h1{
            padding-top: 40%;
            font-size: 170px;
        }
    }
}

@include breakpoint (phablet) {
    .main{
        h1{
            font-size: 100px;
            padding-top: 40%;
        }
    }
}
