* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

.lb-loader,
.lightbox {
  text-align: center;
  line-height: 0;
}

.lb-dataContainer:after,
.lb-outerContainer:after {
  content: "";
  clear: both;
}

html.lb-disable-scrolling {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: .8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: 400;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}

.lb-loader,
.lb-nav {
  position: absolute;
  left: 0;
}

.lb-outerContainer:after {
  display: table;
}

.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

.lb-next,
.lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  display: table;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: .7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.demo__gallery {
  width: 1200px;
  padding: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #eee;
  -webkit-perspective: 700px;
          perspective: 700px;
  border-radius: 5px;
}

.demo__part {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.demo__part:hover .demo__part-front {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.demo__part:hover .demo__part-front:after {
  opacity: 0;
}

.demo__part-front, .demo__part-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

.demo__part-front {
  background-color: lightslategrey;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all 0.33333s ease;
  transition: all 0.33333s ease;
}

.demo__part-front:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  opacity: 0.5;
  -webkit-transition: all 0.33333s ease;
  transition: all 0.33333s ease;
}

.demo__part-back {
  -webkit-transform: rotateY(180deg) rotateX(0deg);
          transform: rotateY(180deg) rotateX(0deg);
}

.demo__part-back-inner {
  width: 1200px;
  height: 800px;
  background-image: url(http://kirillkiyutin.com/img/nyc/nyc1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.demo__help {
  margin-bottom: 37px;
  font-size: 30px;
  color: #302d2d;
  font-weight: bold;
}

.demo__help a {
  color: #302d2d;
}

.demo__help a:hover {
  color: #302d2d;
}

.demo__part-1-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.demo__part-1-2 .demo__part-back-inner {
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}

.demo__part-1-3 .demo__part-back-inner {
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
}

.demo__part-1-4 .demo__part-back-inner {
  -webkit-transform: translate(-600px, 0px);
          transform: translate(-600px, 0px);
}

.demo__part-1-5 .demo__part-back-inner {
  -webkit-transform: translate(-800px, 0px);
          transform: translate(-800px, 0px);
}

.demo__part-1-6 .demo__part-back-inner {
  -webkit-transform: translate(-1000px, 0px);
          transform: translate(-1000px, 0px);
}

.demo__part-2-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
}

.demo__part-2-2 .demo__part-back-inner {
  -webkit-transform: translate(-200px, -200px);
          transform: translate(-200px, -200px);
}

.demo__part-2-3 .demo__part-back-inner {
  -webkit-transform: translate(-400px, -200px);
          transform: translate(-400px, -200px);
}

.demo__part-2-4 .demo__part-back-inner {
  -webkit-transform: translate(-600px, -200px);
          transform: translate(-600px, -200px);
}

.demo__part-2-5 .demo__part-back-inner {
  -webkit-transform: translate(-800px, -200px);
          transform: translate(-800px, -200px);
}

.demo__part-2-6 .demo__part-back-inner {
  -webkit-transform: translate(-1000px, -200px);
          transform: translate(-1000px, -200px);
}

.demo__part-3-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -400px);
          transform: translate(0px, -400px);
}

.demo__part-3-2 .demo__part-back-inner {
  -webkit-transform: translate(-200px, -400px);
          transform: translate(-200px, -400px);
}

.demo__part-3-3 .demo__part-back-inner {
  -webkit-transform: translate(-400px, -400px);
          transform: translate(-400px, -400px);
}

.demo__part-3-4 .demo__part-back-inner {
  -webkit-transform: translate(-600px, -400px);
          transform: translate(-600px, -400px);
}

.demo__part-3-5 .demo__part-back-inner {
  -webkit-transform: translate(-800px, -400px);
          transform: translate(-800px, -400px);
}

.demo__part-3-6 .demo__part-back-inner {
  -webkit-transform: translate(-1000px, -400px);
          transform: translate(-1000px, -400px);
}

.demo__part-4-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -600px);
          transform: translate(0px, -600px);
}

.demo__part-4-2 .demo__part-back-inner {
  -webkit-transform: translate(-200px, -600px);
          transform: translate(-200px, -600px);
}

.demo__part-4-3 .demo__part-back-inner {
  -webkit-transform: translate(-400px, -600px);
          transform: translate(-400px, -600px);
}

.demo__part-4-4 .demo__part-back-inner {
  -webkit-transform: translate(-600px, -600px);
          transform: translate(-600px, -600px);
}

.demo__part-4-5 .demo__part-back-inner {
  -webkit-transform: translate(-800px, -600px);
          transform: translate(-800px, -600px);
}

.demo__part-4-6 .demo__part-back-inner {
  -webkit-transform: translate(-1000px, -600px);
          transform: translate(-1000px, -600px);
}

.show-front {
  -webkit-transform: none;
          transform: none;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9))), url(../images/background/background.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/background/background.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  color: #ccf6e7;
}

.main .home .welcome {
  padding-top: 15%;
  font-size: 170px;
  font-weight: 400;
}

.main .home .welcome span {
  -webkit-transition: .5s;
  transition: .5s;
}

.main .home .welcome span:hover {
  color: #75b29c;
  cursor: pointer;
}

.main .home .intro-text {
  padding-top: 1%;
  font-size: 30px;
  font-weight: bold;
}

.main .home .arrow {
  padding-top: 3%;
  font-size: 30px;
  padding-bottom: 13.5%;
}

.main .home .arrow button {
  border: none;
  background: transparent;
}

.main .home .arrow button i {
  font-size: 30px;
  color: #ccf6e7;
  -webkit-transition: .5s;
  transition: .5s;
}

.main .home .arrow button i:hover {
  color: #75b29c;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (min-resolution: 192dpi) {
  .main {
    background-size: cover;
  }
  .main .home .welcome {
    padding-top: 70% !important;
    font-size: 170px;
  }
  .main .home .intro-text {
    font-size: 40px;
  }
  .main .home .arrow button i {
    font-size: 60px;
  }
  .main .home .arrow h4 {
    font-size: 60px;
  }
}

@media (max-width: 37.5em) {
  .main h1 {
    font-size: 100px;
    padding-top: 40%;
  }
}

.gallery .my-work h1 {
  display: none;
}

.gallery .lightbox-mobile-only {
  display: none;
  height: 100%;
}

.gallery .lightbox-mobile-only img {
  height: 176px;
  width: 250px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px;
}

.gallery .lightbox-mobile-only img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (min-resolution: 192dpi) {
  .gallery .my-work h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 3% 0;
    color: #302d2d;
  }
  .gallery .lightbox-mobile-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery .lightbox-mobile-only img {
    width: 450px;
    height: 322.22px;
  }
  .gallery .demo {
    display: none;
  }
}

.contact {
  background-color: #ccf6e7;
  color: #302d2d;
  text-align: center;
  padding: 5% 15%;
}

.contact .about-me h1 {
  margin-bottom: 3%;
}

.contact .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
}

.contact .social-media .facebook,
.contact .social-media .instagram {
  text-decoration: none;
  color: #302d2d;
}

.contact .social-media .facebook {
  font-size: 30px;
  margin-right: 1%;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.contact .social-media .facebook:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
}

.contact .social-media .instagram {
  margin-left: 1%;
  font-size: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.contact .social-media .instagram:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
}

.contact .email-phone {
  margin: 3%;
}

.contact .email-phone .email {
  padding: 2%;
}

@media (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (min-resolution: 192dpi) {
  .contact {
    padding: 5%;
  }
  .contact .about-me h1 {
    font-size: 60px;
  }
  .contact .contact-message p {
    font-size: 1.6em;
  }
  .contact .email-phone,
  .contact .social-media {
    font-size: 1.6em;
  }
  .contact .email-phone .facebook,
  .contact .email-phone .instagram,
  .contact .social-media .facebook,
  .contact .social-media .instagram {
    font-size: 1.8em;
    margin: 15px;
  }
}
/*# sourceMappingURL=style.css.map */