.contact {
    background-color: #ccf6e7;
    color: #302d2d;
    padding: 5% 0;

    .about-me {
        h1 {
            margin-bottom: 3%;
            margin-left: 32%;
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
            .wrap-left{
                margin: 5% 0 0% 15%;
                max-width: 40%;
                text-align: center;
            }
            .wrap-right{
                margin: 0% 15% 0% 0;
                .fb-page{
                    width: 400px !important;
                }
            }
        }
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;

        .facebook,
        .instagram {
            text-decoration: none;
            color: #302d2d;
        }

        .facebook {
            font-size: 30px;
            margin-right: 1%;
            transition: .5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                color: black;
            }
        }

        .instagram {
            margin-left: 1%;
            font-size: 30px;
            transition: .5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                color: black;
            }
        }
    }

    .email-phone {
        margin: 3%;

        .email {
            padding: 2%;
        }
    }
}

@include breakpoint (mobileonly) {
    .contact {
        padding: 5%;

        .about-me {
            h1 {
                font-size: 60px;
            }
            .wrapper{
                display: block;
                .wrap-left{
                    min-width: 700px;
                }
                .wrap-right{
                    display: none;
                }
            }
        }

        .contact-message {
            p {
                font-size: 1.6em;
            }
        }

        .email-phone,
        .social-media {
            font-size: 1.6em;

            .facebook,
            .instagram {
                font-size: 1.8em;
                margin: 15px;
            }
        }
    }
}

@include breakpoint (desktop) {
    .contact{
        .about-me{
            .wrapper{
                .wrap-left{
                    margin-left: 8%;
                }
                .wrap-right{
                    margin-right: 8%;
                }
            }
        }
    }
}

@include breakpoint (laptop) {
    .contact{
        .about-me{
            .wrapper{
                .wrap-right{
                    margin-top: 4%;
                }
            }
        }
    }
}


@include breakpoint (phablet) {
    .contact{
        .about-me{
            text-align: center;
            .wrapper{
                display: block;
                .wrap-left{
                    margin: 0 auto;
                    min-width: 70%;
                    margin-bottom: 5%;
                }
                .wrap-right{
                    margin-left: 29%;
                }
            }
        }
    }
}

@include breakpoint (tablet) {
    .contact{
        .about-me{
            h1{
                margin: 0 !important;
                text-align: center !important;
            }
        }
    }
}