.gallery {
    .my-work {
        h1 {
            display: none;
        }
    }

    .lightbox-mobile-only {
        display: none;
        height: 100%;
        a{
            img {
                transition: .3s;
                padding: 10px;
                width: 600px;
                height: auto;
                &:hover {
                    filter: grayscale(0%);
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}


@include breakpoint (phablet) {
    .gallery {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #dedede;
        .my-work {
            h1 {
                display: block;
                text-align: center;
                font-size: 40px;
                padding: 3% 0;
                color: #302d2d;
            }
        }

        .lightbox-mobile-only {
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            img {
                width: 450px;
                height: 322.22px;
            }
        }

        .demo {
            display: none;
        }
    }
}

@include breakpoint (mobileonly) {
    .gallery {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #dedede;
        .my-work {
            h1 {
                display: block;
                text-align: center;
                font-size: 50px;
                padding: 4% 0;
                color: #302d2d;
            }
        }

        .lightbox-mobile-only {
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            img {
                width: 450px;
                height: 322.22px;
            }
        }

        .demo {
            display: none;
        }
    }
}