body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/background/bg-min-scale.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.main {
    text-align: center;
    color: #dedede;
    min-height: 100%;
    .home {
        min-height: 100%;
        .welcome {
            padding-top: 15%;
            font-size: 170px;
            font-weight: 400;

            span {
                transition: .5s;

                &:hover {
                    color: #75b29c;
                    cursor: pointer;
                }
            }
        }

        .intro-text {
            padding-top: 1%;
            font-size: 30px;
            font-weight: bold;
        }

        .arrow {
            padding-top: 3%;
            font-size: 30px;
            padding-bottom: 13.5%;

            button {
                border: none;
                background: transparent;

                i {
                    font-size: 30px;
                    color: #dedede;
                    transition: .5s;

                    &:hover {
                        color: #75b29c;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@include breakpoint (mobileonly) {
    .main {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/background/bg-mobile.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        .home {
            .welcome {
                padding-top: 50% !important;
                font-size: 170px;
            }

            .intro-text {
                font-size: 40px;
            }

            .arrow {
                button {
                    i {
                        font-size: 60px;
                    }
                }

                h4 {
                    font-size: 60px;
                }
            }
        }
    }
}

@include breakpoint (laptop) {
    .main {
        .welcome {
            padding-top: 20% !important;
        }
    }
}

@include breakpoint (tablet) {
    .main {
        .welcome {
            padding-top: 25% !important;
        }
    }
}

@include breakpoint (phablet) {
    .main {
        .welcome {
            font-size: 140px !important;
            padding-top: 30% !important;
        }
    }
}