.main {
    background-image: url(../images/background/jasmin-schreiber-607924-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    color: #ccf6e7;

    .home {
        .welcome {
            padding-top: 15%;
            font-size: 170px;
            font-weight: 400;

            span {
                transition: .5s;

                &:hover {
                    color: #75b29c;
                    cursor: pointer;
                }
            }
        }

        .intro-text {
            padding-top: 1%;
            font-size: 30px;
            font-weight: bold;
        }

        .arrow {
            padding-top: 3%;
            font-size: 30px;
            padding-bottom: 13.5%;

            button {
                border: none;
                background: transparent;

                i {
                    font-size: 30px;
                    color: #ccf6e7;
                    transition: .5s;

                    &:hover {
                        color: #75b29c;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }




}

@include breakpoint (mobileonly) {
    .main {
        background-size: cover;

        .home {
            .welcome {
                padding-top: 70% !important;
                font-size: 170px;
            }

            .intro-text {
                font-size: 40px;
            }

            .arrow {
                button {
                    i {
                        font-size: 60px;
                    }
                }

                h4 {
                    font-size: 60px;
                }
            }
        }
    }
}

@include breakpoint (phablet) {
    .main {
        h1 {
            font-size: 100px;
            padding-top: 40%;
        }
    }
}